body {
    font-family: cursive;
}

.gl {
    border: 5px solid black;
    border-radius: 15px;
    color: black;
    padding: 7px;
    font-size: 25px;
    margin-top: 20px;
}

.gl:hover {
    color: cornflowerblue;
}

.gl:focus {
    background-color: red;
    color: white;
}
